html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e003c, #2b0057, #3a0ca3);
    background-repeat: no-repeat;
    background-attachment: fixed;
        background-size: cover;
    font-family: Arial, sans-serif;
    color: #f5f5f5;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 40px 60px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    color: #eee;
}

.card h2 {
    margin: 0 0 10px 0;
    color: #c77dff;
}

.text {
    background-color: #1e1e2f;
    border-radius: 30px;
    border: 1px solid #9d4edd;
    padding: 12px 20px;
    color: white;
    font-size: 1rem;
    width: 280px;
    transition: all 0.3s ease;
}

#jelszo {
    background-color: #4a148c;
    border-radius: 30px;
    padding: 12px 20px;
    border: none;
    color: white;
    transition: background 0.3s, transform 0.2s;
    font-size: 1rem;
    cursor: pointer;
}

#vissza {
    margin-bottom: 20px;
    background: #4a148c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
    position: absolute;
    top: 20px;
    left: 20px;
}

#vissza:hover,
#jelszo:hover {
    transform: scale(1.06);
    background: linear-gradient(135deg, #7209b7, #9d4edd);
}

.text:focus,
#jelszo:focus {
    outline: none;
    border: 1px solid #c77dff;
    box-shadow: 0 0 8px rgba(199, 125, 255, 0.6);
}


@media (max-width: 600px) {
    .card {
        padding: 20px 30px;
        gap: 10px;
    }

    .text {
        font-size: 0.9rem;
        width: 200px;
        padding: 10px 16px;
    }

    #jelszo {
        font-size: 0.9rem;
        padding: 10px 16px;
    }

    #vissza {
        font-size: 0.8rem;
        padding: 8px 14px;
    }
}